.footer-wrapper {
  background-color: $primary;
  color: $secondary;
  width: 100vw;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
  align-items: center;
  border-top: 2px solid darkslategray;
  text-wrap: wrap;
}

.App.dark-mode {
  .footer-wrapper {
    background-color: $dark-nav;
    color: $dark-mode-light;
  }
}
