body {
  margin: 0px;
}

.App {
  @include flex-col-center;
  min-height: 100vh;
  justify-content: space-between;
  color: $dark;

  button {
    border: 1px solid $dark;
  }
}

.App.dark-mode {
  color: $dark-mode-light;
  background-color: rgb(39, 39, 39);

  button {
    @include dark-link-standard;
  }

  form {
    input,
    textarea {
      background-color: $dark-mode-gray;
      color: $dark-mode-light;

      &::placeholder {
        color: $dark-placeholder;
      }
    }

    input[type="submit"] {
      @include dark-link-standard;
    }
  }
}

.modal-content-wrapper {
  max-width: 500px;
  text-align: center;

  .modal-close-wrapper {
    text-align: right;
  }

  .close-button {
    text-align: center;
  }

  .modal-buttons-wrapper {
    display: flex;
    justify-content: center;
    gap: 5px;

    button {
      @include link-standard;
      width: 50px;
      padding: 5px;
    }
  }
}

.modal-content-wrapper.dark-mode {
  .modal-close-wrapper {
    button {
      @include dark-link-standard;
    }
  }

  .modal-buttons-wrapper {
    button {
      @include dark-link-standard;
    }
  }
}
