$primary: rgb(195, 221, 229);
$secondary: rgb(43, 63, 70);
$dark: rgb(0, 27, 108);
$dark-mode-light: rgb(232, 236, 238);
$dark-nav: rgb(18, 26, 26);
$dark-mode-gray: #494b50;
$dark-placeholder: rgb(148, 148, 148);
